<div class="header-container">
  <nav
    class="text-white text-sm md:text-xl nav-bar flex justify-between bg-black w-full  h-[100px] items-center"
  >
    <div class=" text-xs md:text-xl flex space-x-2 justify-evenly left-side nav-item w-[30%]  md:w-[30%]  items-center">
     
      <div
        class="bg-white object-cover rounded-full w-[40px] overflow-hidden border-red-600 border-4 border-double"
      >
        <!-- Use [src] binding to dynamically load the image -->
        <img
          class="w-full h-full border border-double border-white"
          height="50px"
          src="assets/tt/ttbat.png"
          alt="logo-tt"
        />
      </div>
      <h1>{{ name }}</h1>
    </div>

    <div
      class="logos-container flex text-[70%] font-medium text-sm md:text-xl
       justify-evenly rightside-nav-items w-[60%] md:w-[50%]  items-center"
    >
      <a
        href="https://www.instagram.com/sri_hari_balasubramanian/?hl=en"
        class=" hover:text-red-400  active:scale-95 flex  space-x-1"
      >
        <fa-icon [icon]="faInstagram"></fa-icon>
        <span>Instagram</span>
      </a>

      <a
        href="https://www.instagram.com/sri_hari_balasubramanian/?hl=en"
        class=" hover:text-blue-400 active:scale-95 flex  space-x-1 "
      >
        <fa-icon [icon]="faLinkedin"></fa-icon>
        <span>LinkedIn</span>
      </a>
      <a
        href="tel:+919003130371"
        class=" hover:text-green-400 active:scale-95 flex space-x-1"
        onclick="if (window.innerWidth > 768) { alert('Please dial manually on your phone: +91 9003130371'); return false; }"
      >
        <fa-icon [icon]="faPhone"></fa-icon>
        <span>Phone</span>
      </a>
    </div>
  </nav>
</div>
