<div class="home-page-container bg-white-400 w-full h-screen p-20">
  <div class="hero-section-container flex h-full relative">
    <div
      class="border-4 border-black home-box flex flex-col w-[80%] relative h-full text-white justify-evenly items-start pl-9"
    >
      <div class="absolute inset-0 bg-black z-0"></div>
      <div
        class="absolute inset-0 bg-white-800 bg-gradient-to-r from-red-700 via-blue-700 to-green-400 opacity-80 animate-wave"
      ></div>
      <div
        class="relative z-10 flex flex-col text-white justify-evenly h-full pl-2"
      >
        <!-- <h1 class="text-3xl font-bold">Cool Wave Background</h1> -->
        <h1 class="heading w-[70%] text-5xl font-bold">{{ heading }}</h1>
        <h2 class="subheading w-[70%] text text-3xl">{{ subHeading }}</h2>
        <p class="w-[70%] text-xl">{{ actionText }}</p>
        <p class="text-justify text-xl w-[70%] text font-serif font-medium">
          {{ detailText }}
        </p>
        <p class="text-xl font-semibold w-[70%]">{{ contactText }}</p>
      </div>
    </div>
    <div
      class="object-cover overflow-hidden w-[40%] h-[70%] self-center absolute right-0 border-4 border-double border-black rounded-xl"
    >
      <img class="w-full h-full" src="{{ heroImageUrl }}" alt="" />
    </div>
  </div>
</div>

<style>
  @keyframes waveMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50;
    }
  }
  .animate-wave {
    background-size: 300% 300%;
    animation: waveMove 6s infinite linear;
  }
</style>
